/* Estilos básicos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfaef; /* Color de fondo */
}

/* Contenedor principal que envuelve el formulario */
.main-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente */
    padding-top: 80px; /* Espacio para evitar que el contenido se superponga con la barra */
    background-color: #fcfaef; /* Color de fondo */
}

/* Estilos para el formulario de login */
.login-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #0056b3;
}

.form-footer {
    margin-top: 15px;
}

.form-footer a {
    color: #007BFF;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
