/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f5f1d1; /* Color de fondo */
}

/* Barra de navegación */
header {
    background-color: #f5f1d1; /* Fondo de la barra */
    padding: 10px 0;
    margin-bottom: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1000;
}

/* Logo */
.logo-img {
    width: 128px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Enlaces de navegación */
nav {
    display: flex;
    justify-content: flex-end; /* Centra los enlaces de navegación */
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #333; /* Mantiene el color original de los enlaces */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Botón de inicio de sesión */
.login-button {
    background-color: #2EBABF; /* Color del botón */
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #29a0a5; /* Cambio de color en hover */
}

/* Iconos de usuario y carrito */
.icon-user:before, .icon-cart:before {
    vertical-align: middle; /* Alinea el icono con el texto */
    font-size: 1.2em; /* Ajusta el tamaño del emoji */
    margin-right: 4px; /* Espacio entre el icono y el texto */
}

/* Iconos específicos */
.icon-user:before {
    content: "\1F464"; /* Unicode para el icono de usuario */
}

.icon-cart:before {
    content: "\1F6D2"; /* Unicode para el icono de carrito */
}

/* Menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #0056b3;
}

/* El contenedor del menú desplegable */
.dropdown-content {
    display: none; /* Inicialmente oculto */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    margin-top: 10px;
}

/* Opciones del menú */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar el menú cuando se hace click en el botón */
.dropdown.show .dropdown-content {
    display: block;
}
