body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #fcfaef; /* Color de fondo */
    display: flex;
    flex-direction: column; /* Hace que el cuerpo use flexbox */
}

/* Color principal: Naranja moderado */
:root {
    --naranja: #f39c12; /* Naranja modificado */
}

.main-container {
    min-height: 85vh; /* Esto asegura que el contenedor ocupe al menos toda la altura de la pantalla */
    display: flex;
    flex-direction: column; /* Organiza el contenido de arriba hacia abajo */
}

/* Barra de navegación */
header {
    background-color: var(--naranja); /* Fondo de la barra con color principal */
    padding: 10px 0;
    margin-bottom: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1000;
}

/* Logo */
.logo-img {
    width: 128px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Enlaces de navegación */
nav {
    display: flex;
    justify-content: flex-end; /* Centra los enlaces de navegación */
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white; /* Cambié el color del texto a blanco */
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    color: #f39c12; /* Color naranja al pasar el mouse */
    text-decoration: underline;
}

/* Dropdown */
.dropdown-menu {
    background-color: #fff;
    border-radius: 0;
}

.dropdown-menu a {
    color: #333;
}

.dropdown-menu a:hover {
    background-color: var(--naranja);
    color: white;
}

/* Iconos de usuario y carrito */
.icon-user:before, .icon-cart:before {
    vertical-align: middle; /* Alinea el icono con el texto */
    font-size: 1.2em; /* Ajusta el tamaño del emoji */
    margin-right: 4px; /* Espacio entre el icono y el texto */
}

/* Iconos específicos */
.icon-user:before {
    content: "\1F464"; /* Unicode para el icono de usuario */
}

.icon-cart:before {
    content: "\1F6D2"; /* Unicode para el icono de carrito */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Estilo del contenedor principal */
.main-container {
    margin-top: 20px;
}

/* Estilo para la imagen de encabezado */
.header-image img {
    width: 100%;
    object-fit: cover;
    display: block;
}
