<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesión</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>

    <!-- Barra de navegación -->
    <header>
        <div class="nav-container">
            <div class="logo">
                <!-- Logo de la tienda -->
                <a href="{{ url_for('index') }}">
                    <img src="https://raw.githubusercontent.com/eliam-villegas/nufraicomers/refs/heads/main/imagenes/nufra_logo-removebg-preview.png" alt="Logo" class="logo-img">
                </a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/productos">Tienda</a></li>
                    <li><a href="/carrito"><i class="icon-cart"></i> Carrito</a></li>
                    <li><a href="/usuario"><i class="icon-user"></i> Usuario</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="main-container">
        <h1>Panel de Administración</h1>
        <div class="button-container">
            <!-- Botones para agregar y eliminar producto -->
            <button class="btn btn-add" onclick="location.href='/agregar_producto'">Agregar Producto</button>
            <button class="btn btn-add" onclick="location.href='/actualizar_producto'">Actualizar Producto</button>
            <button class="btn btn-delete" onclick="location.href='/eliminar_producto'">Eliminar Producto</button>
        </div>

        <h2>Lista de Usuarios</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
