<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi sitio web{% endblock %}</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">

</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <div class="nav-container">
            <div class="logo">
                <!-- Aquí va el logo -->
                <a href="{{ url_for('index') }}">
                <img src="https://raw.githubusercontent.com/eliam-villegas/nufraicomers/refs/heads/main/imagenes/nufra_logo-removebg-preview.png" alt="Logo" class="logo-img">
                </a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/productos">Tienda</a></li>
                    <li><a href="/usuario"><i class="icon-user"></i>Usuario</a></li>
                    <li><a href="/prueba"><i class="icon-cart"></i>Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    <!--  Aqui va el contenido de cada pagina  -->
    {% endblock %}

    <footer>
        <p>&copy; 2024 Nafru E-Commerce. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
