<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nufra</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block extra_css %}
    <!-- css específico-->
     {% endblock %}
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <div class="nav-container">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="https://raw.githubusercontent.com/eliam-villegas/nufraicomers/refs/heads/main/imagenes/nufra_logo-removebg-preview.png" alt="Logo" class="logo-img">
                </a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/productos">Tienda</a></li>
                    <li><a href="/carrito"><i class="icon-cart"></i> Carrito</a></li>

                    {% if in_session %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"><i class="icon-user"></i> Cuenta</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('clientes.account')}}">Perfil</a></li>
                                <li><a href="{{ url_for('clientes.logout')}}">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/usuario">Iniciar sesión</a></li>
                        <li><a href="/registro">Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    {% block content %}
    <!-- contenido de la página-->
    {% endblock %}

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Nufra E-Commerce. Todos los derechos reservados</p>
    </footer>

    <!-- Scripts de Bootstrap (necesarios para algunas interacciones como el dropdown) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
