{% extends "base.html" %}

{% block title %}Inicio{% endblock %}
{% block extra_css %}
{% endblock %}

{% block content %}
<div class="login-container d-flex justify-content-center align-items-center">
    <div class="login-form shadow p-4 rounded bg-white">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>

        <!-- El action apunta a la ruta de Flask usando url_for -->
        <form action="{{ url_for('auth_service.login') }}" method="POST">
            <!-- Campo de email -->
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <!--<input type="email" class="form-control" id="email" placeholder="usuario@ejemplo.com" required>-->
                <input type="text" class="form-control" name="email" placeholder="usuario@ejemplo.com" required>
            </div>

            <!-- Campo de contraseña -->
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <!--<input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" required>-->
                <input type="password" class="form-control" name="password" placeholder="Introduce tu contraseña" required>
            </div>

            <!-- Checkbox de recordar -->
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Recordarme</label>
            </div>

            <!-- Botón de inicio de sesión -->
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>

            <!-- Enlace para recuperar contraseña -->
            <div class="text-center mt-3">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
