<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo de Productos</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
</head>
<body>

    <!-- Barra de navegación -->
    <header>
        <div class="nav-container">
            <div class="logo">
                <!-- Logo de la tienda -->
                <a href="{{ url_for('index') }}">
                    <img src="https://raw.githubusercontent.com/eliam-villegas/nufraicomers/refs/heads/main/imagenes/nufra_logo-removebg-preview.png" alt="Logo" class="logo-img">
                </a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/productos">Tienda</a></li>
                    <li><a href="/carrito"><i class="icon-cart"></i> Carrito</a></li>
                    <li><a href="/usuario"><i class="icon-user"></i> Usuario</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Título del Catálogo de Productos -->
    <h1>Catálogo de Productos</h1>

    <!-- Contenedor de productos donde se inyectarán los productos desde JavaScript -->
    <div class="productos" id="productosContainer">
        <!-- Los productos se añadirán dinámicamente aquí -->
    </div>

    <!-- Enlace al archivo JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
