{% extends "base.html" %}

{% block title %}Inicio{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='productos.css') }}">
{% endblock %}

{% block content %}
    <!-- Título del Catálogo de Productos -->
    <h1>Catálogo de Productos</h1>

    <!-- Contenedor de productos donde se inyectarán los productos desde JavaScript -->
    <div class="productos" id="productosContainer">
        <!-- Los productos se añadirán dinámicamente aquí -->
    </div>

    <!-- Enlace al archivo JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
