<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesion</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

    <!-- Barra de navegación -->
    <header>
        <div class="nav-container">
            <div class="logo">
                <!-- Logo de la tienda -->
                <a href="{{ url_for('index') }}">
                    <img src="https://raw.githubusercontent.com/eliam-villegas/nufraicomers/refs/heads/main/imagenes/nufra_logo-removebg-preview.png"
                        alt="Logo" class="logo-img">
                </a>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/productos">Tienda</a></li>
                    <li><a href="/usuario"><i class="icon-user"></i> Usuario</a></li>
                    <li><a href="#"><i class="icon-cart"></i> Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <!-- El action apunta a la ruta de Flask usando url_for -->
        <form action="{{ url_for('login') }}" method="GET">
            <div class="form-group">
                <label for="username">Nombre de Usuario o Correo Electrónico:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-btn">Ingresar</button>
        </form>
        <div class="form-footer">
            <p>¿No tienes cuenta? <a href="#">Regístrate aquí</a></p>
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
        </div>
    </div>

</body>

</html>